<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <script>var aPageStart = (new Date()).getTime();</script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon</title>
</head>
<body>
    <header id="nav-main"> 
        <div id="nav-bar">
            <div id="nav-logobar">
                <div class="nav-left">
                    <div id="nav-logo">
                        <a href="/ref=navm_hdr_logo" id="nav-logo-sprites" class="nav-logo-link nav-progressive-attribute" aria-label="Amazon">
                            <span class="nav-sprite nav-logo-base"></span>
                            <span id="logo-ext" class="nav-sprite nav-logo-ext nav-progressive-content"></span>
                            <span class="nav-logo-locale">.in</span>
                          </a>
                    </div>

                </div>
                <div class="nav-right">
                    <a href="https://www.amazon.in/ap/signin?openid.pape.max_auth_age=0&amp;openid.return_to=https%3A%2F%2Fwww.amazon.in%2Fref%3Dnav_logo%2F%3F_encoding%3DUTF8%26ref_%3Dnavm_hdr_signin&amp;openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&amp;openid.assoc_handle=anywhere_v2_in&amp;openid.mode=checkid_setup&amp;openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&amp;openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&amp;" class="nav-a nav-progressive-attribute" id="nav-button-avatar" aria-label="your account">
                        <i class="nav-icon nav-icon-a11y nav-sprite">your account</i>
                      </a>
                      <a href="/gp/aw/c?ref_=navm_hdr_cart" aria-label="Cart" class="nav-a" id="nav-button-cart">
                        <div id="cart-size" class="nav-cart-0 nav-progressive-attribute">
                          <span class="nav-icon nav-sprite">
                            <span id="nav-cart-count" class="nav-cart-count nav-progressive-content">0</span>
                          </span>
                        </div>
                      </a>

                </div>

            </div>

        </div>
    </header>
</body>
</html>